
<script type="text/javascript">
$(function(){
	$("#browser").treeview({
		url: "tree.do"
	});
	JCore.lmenu('lmenu');
});
</script>



<div class="admin-sidebar am-offcanvas" id="admin-offcanvas">

    <div class="am-offcanvas-bar admin-offcanvas-bar">
        <div>
            <a href="javascript:location.reload()"><@s.m "global.refresh"/></a>
            &nbsp;	<a href="solution.do" target="rightFrame"><@s.m "template.solution.function"/></a>
        </div>
        <ul id="browser" class="filetree"></ul>

    </div>


</div>