
<!DOCTYPE html>
<html class="no-js">
<head lang="en">

    <#include "../head_import.html" />

</head>
<body>
<#include "../include/top_nav.html">
    <div class="am-cf admin-main">

        <!-- sidebar start -->
        <#include "../left.html">
            <!-- sidebar end -->
            <!-- content start-->
            <div class="admin-content">
                <div class="am-cf am-padding">
                    <div class="am-fl am-cf"><@s.m "global.position"/>: <@s.m "template.function"/> - <@s.m "template.solution.function"/></div>
                </div>

                <div class="am-g">
                    <div class="am-u-sm-12 am-u-sm-centered">
                        <@p.form id="baseForm" labelWidth="20" action="o_solution.do">

                        <@p.td label="template.import">
                        <input type="file" id="tplZip" name="tplZip"/>
                        &nbsp; <input type="button" onclick="importTpl();" value="导入"/>
                            </@p.td><@p.tr/>

                            <@p.td label="template.export">
                            <input type="button" onclick="exportTpl();" value="导出"/>
                        </@p.td>
                    </@p.form>
            </div>
    </div>



    </div>

    </div>

<script type="text/javascript">
function importTpl() {
	if($("#tplZip").val()=="") {
		alert("rrrr");
		return;
	}
	var form = document.getElementById("baseForm");
	form.action = "o_import.do";
	form.encoding = "multipart/form-data";
	form.submit();
}
function exportTpl() {
	var form = document.getElementById("baseForm");
	form.action = "o_export.do";
	form.encoding = "application/x-www-form-urlencoded";
	form.submit();
}
</script>

<#include "/common/alert_message.html"/>
</body>
</html>