<nav id="menu">
    <ul>
        <li class="Selected">
            <a href="${base}/diner/index.htm">
                <i class="fa fa-home"></i>首页
            </a>
        </li>
        <li>
            <a href="${base}/diner/products.htm">
                <i class="fa fa-th-list"></i>今日特价菜
            </a>
            <!--
            <ul>
               ## <li><a href="$homeServer.getURI("/diner/product-single.htm")"><i class="fa fa-th-list"></i>First product</a></li>
                ##<li><a href="$homeServer.getURI("/diner/product-single.htm")"><i class="fa fa-th-list"></i>Second product</a></li>
                ##<li><a href="$homeServer.getURI("/diner/product-single.htm")"><i class="fa fa-th-list"></i>Third product</a></li>
            </ul>
            -->
        </li>
        <li>
            <a href="${base}/diner/products.htm">
                <i class="fa fa-th-list"></i>特色招牌菜
            </a>

        </li>
        <li>
            <a href="${base}/diner/products.htm">
                <i class="fa fa-th-list"></i>全部菜品
            </a>

        </li>
    </ul>
</nav>