#set($layout="template/layout/dinerLayout.vm")
	<body class="o-page p-product-single">
		<div id="page">
			<div id="header">
				<div class="header-content">
					<a href="$homeServer.getURI("/diner/index.htm")" class="p-link-home"><i class="fa fa-home"></i></a>
					<a class="menu-btn" href="#menu"></a>
					<a href="javascript:history.back();" class="p-link-back"><i class="fa fa-arrow-left"></i></a>
				</div>
			</div>
			<div id="content">
				
				<article>
					<img src="$homeServer.getURI("/assets/diner/img/gallery/2.jpg")" />
					
					<div class="prod-single-content-h">
						<div class="prod-pricePane">
							<span class="last-price">9.95</span>
							<span class="current-price">6.95</span>
							<span class="currency">元</span>
						</div>
						
						<div class="products-ratings">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star-half-empty"></i>
						</div>
					</div>
					<div class="prod-single-content">
						<h2><a href="#">鲫鱼豆腐汤</a></h2>
						<br/>
						<p>
                            鲫鱼豆腐汤是一道汉族名菜，属于粤菜菜系，口味咸鲜可口，鲫鱼具有很好的催乳作用，配用豆腐，益气养血、健脾宽中，豆腐亦富有营养，含蛋白质较高，对于产后康复及乳汁分泌有很好的促进作用。健胃，清热，降火。
						</p>
					</div>
					<div class="product-single-meta">
						<div class="p-single-meta-likes">
							<h4>火爆指数</h4>
							<i class="fa fa-thumbs-up"></i> 21
						</div>
						

						
					</div>
				</article>

			</div>
			<div class="subFooter">Copyright 2015. All rights reserved.</div>
			
			<!-- Menu navigation -->
            #parse("/template/diner/nav.vm")
			
		</div>
	</body>
