#set($layout="template/layout/dinerLayout.vm")
<body class="o-page p-blog">
<div id="page">
    <div id="header">
        <div class="header-content">
            <a href="$homeServer.getURI("/diner/index.htm")" class="p-link-home"><i class="fa fa-home"></i></a>
            <a class="menu-btn" href="#menu"></a>
            <a href="javascript:history.back();" class="p-link-back"><i class="fa fa-arrow-left"></i></a>
        </div>
    </div>
    <div class="bannerPane banner-img3">
        <div class="overlay"></div>
        <div class="s-banner-content">
            <div><img  width="100" src="$homeServer.getURI("/assets/diner/img/logo-pages.svg")" /></div>
            <i class="fa fa-th-list"></i> 特色招牌菜
        </div>
    </div>
    <div id="content">

        <article>
            <a href="$homeServer.getURI("/diner/product-single.htm")">
                <div class="article-img-pane">
                    <img src="$homeServer.getURI("/assets/diner/img/gallery/4.jpg")" />
                </div>
                <h2>鲫鱼豆腐汤</h2>
                <div class="prod-pricePane">
                    <span class="last-price">9.95</span>
                    <span class="current-price">6.95</span>
                    <span class="currency">元</span>
                </div>
            </a>
            <div class="a-meta">
                <span><i class="fa fa-thumbs-up"></i> 21</span>

                <div class="products-ratings">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-empty"></i>
                </div>
            </div>
        </article>

        <article>
            <a href="$homeServer.getURI("/diner/product-single.htm")">
                <div class="article-img-pane">
                    <img src="$homeServer.getURI("/assets/diner/img/gallery/1.jpg")" />
                </div>
                <h2>金沙茄子煲</h2>
                <div class="prod-pricePane">
                    <span class="last-price">15.00</span>
                    <span class="current-price">12.00</span>
                    <span class="currency">元</span>
                </div>
            </a>
            <div class="a-meta">
                <span><i class="fa fa-thumbs-up"></i> 21</span>

                <div class="products-ratings">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-empty"></i>
                </div>
            </div>
        </article>

        <article>
            <a href="$homeServer.getURI("/diner/product-single.htm")">
                <div class="article-img-pane">
                    <img src="$homeServer.getURI("/assets/diner/img/gallery/3.jpg")" />
                </div>
                <h2>红烧汪刺鱼</h2>
                <div class="prod-pricePane">
                    <span class="last-price">9.95</span>
                    <span class="current-price">6.95</span>
                    <span class="currency">元</span>
                </div>
            </a>
            <div class="a-meta">
                <span><i class="fa fa-thumbs-up"></i> 21</span>

                <div class="products-ratings">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-empty"></i>
                </div>
            </div>
        </article>

        <article>
            <a href="$homeServer.getURI("/diner/product-single.htm")">
                <div class="article-img-pane">
                    <img src="$homeServer.getURI("/assets/diner/img/gallery/1.jpg")" />
                </div>
                <h2>西湖醋鱼</h2>
                <div class="prod-pricePane">
                    <span class="last-price">9.95</span>
                    <span class="current-price">6.95</span>
                    <span class="currency">元</span>
                </div>
            </a>
            <div class="a-meta">
                <span><i class="fa fa-thumbs-up"></i> 21</span>

                <div class="products-ratings">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-empty"></i>
                </div>
            </div>
        </article>
    </div>
    <div class="subFooter">Copyright 2015. All rights reserved.</div>

    <!-- Menu navigation -->
    #parse("/template/diner/nav.vm")

</div>
</body>
